<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=examphp1.;Data Source=LT-JC2DK1;Database=Sitecore.MinimalSitecore_Core" />
  <add name="master" connectionString="user id=sa;password=examphp1.;Data Source=LT-JC2DK1;Database=Sitecore.MinimalSitecore_Master" />
  <add name="web" connectionString="user id=sa;password=examphp1.;Data Source=LT-JC2DK1;Database=Sitecore.MinimalSitecore_Web" />
  <add name="analytics" connectionString="mongodb://localhost/analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/tracking_contact" />
  <add name="reporting" connectionString="user id=sa;password=examphp1.;Data Source=LT-JC2DK1;Database=Sitecore.MinimalSitecore_Analytics" />
</connectionStrings>
