@model Sitecore.Mvc.Presentation.RenderingModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
</head>
<body>
@Html.Sitecore().Placeholder("Page.Body")
</body>
</html>
