@{
}
<ul class="nav nav-sidebar">
    <li>
        <div style="padding-left: 8px">
            <a href="#"><img src="/temp/IconCache/Applications/16x16/about.png" style="width: 16px; height: 16px" alt="" /> sitecore</a>
        </div>
        <ul class="list-unstyled">
            <li>
                <div style="padding-left: 32px">
                    <a href="#"><img src="/temp/IconCache/Applications/16x16/about.png" style="width: 16px; height: 16px" alt="" /> content</a>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <div class="bg-primary" style="padding-left: 56px">
                            <a class="bg-primary" href="#"><img src="/temp/IconCache/Applications/16x16/about.png" style="width: 16px; height: 16px" alt="" /> Home</a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <div style="padding-left: 24px">
                    <a href="#"><img src="/temp/IconCache/Applications/16x16/about.png" style="width: 16px; height: 16px" alt="" /> media library</a>
                </div>
            </li>
            <li>
                <div style="padding-left: 24px">
                    <a href="#"><img src="/temp/IconCache/Applications/16x16/about.png" style="width: 16px; height: 16px" alt="" /> layout</a>
                </div>
            </li>
            <li>
                <div style="padding-left: 24px">
                    <a href="#"><img src="/temp/IconCache/Applications/16x16/about.png" style="width: 16px; height: 16px" alt="" /> system</a>
                </div>
            </li>
            <li>
                <div style="padding-left: 24px">
                    <a href="#"><img src="/temp/IconCache/Applications/16x16/about.png" style="width: 16px; height: 16px" alt="" /> templates</a>
                </div>
            </li>
        </ul>
    </li>
</ul>