@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.UserControls
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var userControl = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    userControl.Class = "sc-todomvclist";
    userControl.Requires.Script("client", "TodoMvcList.js");

    var items = userControl.GetString("Items", "Items");

    var htmlAttributes = userControl.HtmlAttributes;
}
<div @htmlAttributes>
    <table class="sc-table sc-table-header table">
        <tbody data-bind="foreach: Items">
            <tr data-bind="visible: ($parent.Filter() == '') || ($parent.Filter() == 'Active' && Done != '1') || ($parent.Filter() == 'Completed' && Done == '1')">
                <td>
                    <input type="checkbox" data-bind="checked: Done, click: $parent.toggleDone" />
                    <span data-bind="text: Text, style: { 'text-decoration': Done == '1' ? 'line-through' : '', color: Done == '1' ? 'lightgrey' : '' }"></span>
                </td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="close" data-bind="click: $parent.removeItem">&times;</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="sc-table sc-table-header table" data-bind="visible: Items().length > 0">
        <tr>
            <td>
                <span data-bind="text: Items().length"></span> item(s)
            </td>
            <td>
                <button class="btn" data-bind="click: filterAll">All</button>
                <button class="btn" data-bind="click: filterActive">Active</button>
                <button class="btn" data-bind="click: filterCompleted">Completed</button>
            </td>
        </tr>
    </table>
</div>