<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    
    <sitecore>
        <settings>
            <!--  PATHFINDER REACT JSX FOLDERS
            Pipe-separated folders where .jsx files are stored
            Default: ~/jsx|~/scripts
            -->
            <setting name="Pathfinder.React.JsxFolders" value="~/jsx|~/scripts"/>
        </settings>

        <hooks>
            <hook type="Sitecore.Pathfinder.React.Hooks.AddJsxScripts, Sitecore.Pathfinder.React" />
        </hooks>

        <pipelines>
            <initialize>
                <processor type="Sitecore.Pathfinder.Pipelines.Loader.MapRoutes, Sitecore.Pathfinder.Server" />
                <processor type="Sitecore.Pathfinder.Pipelines.Loader.InitializePathfinderProjects, Sitecore.Pathfinder.Server" />
            </initialize>

            <mvc.getRenderer>
                <processor type="Sitecore.Pathfinder.Mvc.Response.GetRenderer.GetHtmlTemplateRenderer, Sitecore.Pathfinder.HtmlFile" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"/>
                <processor type="Sitecore.Pathfinder.React.Mvc.Response.GetRenderer.GetJsxRenderer, Sitecore.Pathfinder.React" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"/>
            </mvc.getRenderer>
        </pipelines>
    </sitecore>

</configuration>
