<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    
    <sitecore>
        <settings>
            <!--  PATHFINDER REACT BUNDLE NAME
            Name of the script bundles that contains .jsx files. 
            To use, include <script src="/bundle/react" type="text/javascript"></script> in your page.
            Default: ~/bundle/react
            -->
            <setting name="Pathfinder.React.BundleName" value="~/bundle/react"/>
            <!--  PATHFINDER REACT JSX FOLDERS
            Pipe-separated folders where .jsx files are stored
            Default: ~/jsx|~/scripts
            -->
            <setting name="Pathfinder.React.JsxFolders" value="~/jsx|~/scripts"/>

            <!--  MVC VIEW EXTENSIONS
            Pipe separated list of the legal file extensions for views.
            Pathfinder: Extends the list of view files, so that the Layout.File attribute works.
            Default value: |cshtml|
            -->
            <setting name="Mvc.ViewExtensions" value="|cshtml|html|jsx|" />
        </settings>

        <pipelines>
            <initialize>
                <processor type="Sitecore.Pathfinder.Pipelines.Loader.MapRoutes, Sitecore.Pathfinder.Server" />
                <processor type="Sitecore.Pathfinder.Pipelines.Loader.InitializePathfinderProjects, Sitecore.Pathfinder.Server" />
                <processor type="Sitecore.Pathfinder.Pipelines.Loader.ExecuteLoaderPipeline, Sitecore.Pathfinder.Server" />
            </initialize>

            <mvc.getRenderer>
                <processor type="Sitecore.Pathfinder.Mvc.Response.GetRenderer.GetRenderer, Sitecore.Pathfinder.Server" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"/>
            </mvc.getRenderer>

        </pipelines>
    </sitecore>

</configuration>
