<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    
    <sitecore>
        <settings>
            <!--  PATHFINDER HTML TEMPLATE EXTENSION
            File extension of Html template files
            Default: .html
            -->
            <setting name="Pathfinder.HtmlTemplateExtension" value=".html"/>
        </settings>

        <pipelines>
            <initialize>
                <processor type="Sitecore.Pathfinder.Pipelines.Loader.MapRoutes, Sitecore.Pathfinder.Server" />
                <processor type="Sitecore.Pathfinder.Pipelines.Loader.InitializeSerializingDataProvider, Sitecore.Pathfinder.Server" />
            </initialize>

            <mvc.getRenderer>
                <processor type="Sitecore.Pathfinder.Mvc.Response.GetRenderer.GetHtmlTemplateRenderer, Sitecore.Pathfinder.Server" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']"/>
            </mvc.getRenderer>
        </pipelines>
    </sitecore>

</configuration>
