body {
    font-family: 'Open Sans';
    font-size: 14px;
}

.sc-package-icon {
    width: 50px;
}

/*
.sc-applicationHeader {
    padding-top: 30px;
}

.sc-applicationHeader-row1:after {
    top: 30px;
}
*/