<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net46" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-beta4" targetFramework="net45" />
  <package id="Microsoft.Framework.ConfigurationModel.Interfaces" version="1.0.0-beta4" targetFramework="net45" />
  <package id="Microsoft.Framework.ConfigurationModel.Json" version="1.0.0-beta4" targetFramework="net46" />
  <package id="Microsoft.Framework.ConfigurationModel.Xml" version="1.0.0-beta4" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net46" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net46" />
  <package id="ResharperCodeContractNullability" version="1.0.3" targetFramework="net46" />
</packages>